In [12]:
import numpy as np
import pandas as pd
import anndata as ad

In [13]:
import Enhancer_Function

In [15]:
atac1=ad.read_h5ad("/data/GSE158398_P2003139.h5ad")

In [16]:
# 设置atac1的meta
atac1.var['ATAC'] = atac1.var.index
df1 = pd.DataFrame((x.split('_') for x in atac1.var['ATAC']) , index = atac1.var.index , columns = ['chr','chromStart','chromEnd'])
atac1.var = df1
atac1.var

                         chr chromStart  chromEnd
chr1_181279_181708      chr1     181279    181708
chr1_586028_586376      chr1     586028    586376
chr1_629728_630168      chr1     629728    630168
chr1_633793_634268      chr1     633793    634268
chr1_778099_779419      chr1     778099    779419
...                      ...        ...       ...
chrY_11293413_11293819  chrY   11293413  11293819
chrY_11295010_11295898  chrY   11295010  11295898
chrY_11314315_11314551  chrY   11314315  11314551
chrY_11332988_11334246  chrY   11332988  11334246
chrY_56836699_56837049  chrY   56836699  56837049

[87851 rows x 3 columns]

In [17]:
scEnhancer = pd.read_csv('/data/MCF10A_high.bed', delimiter='\t')
scEnhancer

       chr1     752474     752975  6.8848203286577
0      chr1     762630     763131         6.533559
1      chr1     846475     846976         5.296364
2      chr1     873350     873851         6.458772
3      chr1     875512     876013         5.684793
4      chr1     932253     932754         6.008542
...     ...        ...        ...              ...
22421  chrX  153958463  153958964         8.102646
22422  chrX  153961223  153961724         5.269703
22423  chrX  153962754  153963255         5.694188
22424  chrX  153963834  153964335         7.954121
22425  chrX  154209046  154209547         7.125024

[22426 rows x 4 columns]

In [20]:
Enhancer_Function.ATAC_scEnhancer(atac1,scEnhancer)

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/content/Enhancer_Function.py:91: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ATAC[x]['overleaf_1'] = ''
/content/Enhancer_Function.py:92: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ATAC[x]['overleaf_2'] = ''
/content/Enhancer_Function.py:93: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ATAC[x]['scEnhnacer'] = ''

                         chrom chromStart   chromEnd                scEnhnacer
chr1_997148_1002756       chr1     997148    1002756        chr1_999473_999974
chr1_1012752_1015602      chr1    1012752    1015602      chr1_1015409_1015910
chr1_1092669_1093663      chr1    1092669    1093663      chr1_1092798_1093299
chr1_1199454_1201963      chr1    1199454    1201963      chr1_1200211_1200712
chr1_1440646_1441625      chr1    1440646    1441625      chr1_1440222_1440723
...                        ...        ...        ...                       ...
chrX_124339109_124339530  chrX  124339109  124339530  chrX_124339261_124339762
chrX_153596220_153600361  chrX  153596220  153600361  chrX_153600062_153600563
chrX_153829259_153831128  chrX  153829259  153831128  chrX_153829189_153829690
chrX_153923868_153928976  chrX  153923868  153928976  chrX_153924440_153924941
chrX_153946979_153947925  chrX  153946979  153947925  chrX_153947551_153948052

[1740 rows x 4 columns]